.sprintsGeneralContainer{
    width: 200%;
    height: 80vh;
    background-color: #4c6ef5;
    padding: 1.5rem;
    border-radius: 1rem;
    color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    gap: 2rem;
}
.sprintsColumnsContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #00ff0d;
}
.sprintsColumnContainer{
    flex: 1;
    background-color: #ff0000;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #4a90e2;
    font-size: 18px;
    font-weight: bold;
}
