.containerPrincipalModal {
    position: fixed; /* Se asegura que el modal cubra toda la pantalla */
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    backdrop-filter: brightness(80%) blur(4px);
    background: rgba(0, 0, 0, 0.4); /* Fondo oscuro semi-transparente */
    z-index: 1000; /* Se asegura que esté al frente */
    pointer-events: all;
}

.contentPopUp {
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 40vw;
    max-width: 500px;
    padding: 1.5rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
}

.formContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.formContent input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttonCard {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.buttonCard button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonCard button:first-child {
    background-color: #d9534f;
    color: white;
}

.buttonCard button:last-child {
    background-color: #5cb85c;
    color: white;
}

.modalError {
    color: red;
    font-size: 0.8rem;
    margin-top: -8px;
    margin-bottom: 10px;
  }
