.containerCard{
    width: 100%;
    background-color: #fff;
    border-radius: 0.4rem;
    padding: 0.4rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.actionCard{
    display: flex;
    justify-content: flex-end;
    gap: 0.3rem;
    margin-top: 0.5rem
}

.actionCard button:hover{
    cursor: pointer;
    display: flex;
}

.botonEliminar {
    background-color: rgb(211, 41, 41);
    color: white;
    padding: 3px 6px;
    border-radius: 6px;
    cursor: pointer;
}

.botonEliminar:hover {
    background-color: darkred;
}

.botonEditar {
    background-color: rgb(64, 175, 244);
    color: black;
    padding: 3px 6px;
    border-radius: 6px;
    cursor: pointer;
}

.botonEditar:hover {
    background-color: rgb(0, 129, 180);
}

.avanzarOvolver{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.volver{
    background-color: rgb(109, 109, 109);
    color: black;
    padding: 3px 6px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 6px;
}
.volver:hover {
    background-color: rgb(62, 62, 62);
}

.avanzar{
    background-color: rgb(109, 109, 109);
    color: black;
    padding: 3px 6px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 6px;
}
.avanzar:hover {
    background-color: rgb(62, 62, 62);
}