.containerCard{
    width: 100%;
    background-color: #fff;
    border-radius: 0.4rem;
    padding: 0.4rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.actionCard{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem
}

.actionCard button:hover{
    cursor: pointer;
    display: flex;
}

.botonEliminar {
    background-color: red;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    padding: 8px 12px;
    border-radius: 25px;
    cursor: pointer;
}

.botonEliminar:hover {
    background-color: darkred;
}

.botonEditar {
    background-color: yellow;
    color: black;
    border: 2px solid black;
    padding: 8px 12px;
    border-radius: 25px;
    cursor: pointer;
}

.botonEditar:hover {
    background-color: gold;
}