.backlogContainer {
    width: 350%;
    height: 80vh;
    background-color: #4a90e2;
    padding: 1.5rem;
    border-radius: 1rem;
    color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.headerContainer {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%;
    margin-bottom: 1rem;
}

.backlogTitle {
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-right: 1rem; /* Espacio entre el título y el botón */
}

.addTaskButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 1.5rem;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.addTaskButton:hover {
    background-color: #388E3C;
}


.taskList {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
}

.taskItem {
    background-color: white;
    color: #333;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

.taskTitle {
    font-weight: bold;
    color: black;
}

.taskDescription {
    font-weight: normal;
    color: black;
}
