.containerCard{
    width: 100%;
    background-color: #fff;
    border-radius: 0.4rem;
    padding: 0.4rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.actionCard{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem
}

.actionCard button:hover{
    cursor: pointer;
    display: flex;
}